<!DOCTYPE html>
<html>

  <head>
    <title>CSE6331 </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
  </head>

  <body>
 <title>Login</title>
    <h1>Enter username to login</h1>
	<form method=post enctype=multipart/form-data action = "{{url_for('login')}}">
        <input type=text name= user>
         <input type=submit value=Login>
    </form>
</body>

</html>
